<h1>Nhập mã xác nhận 6 chữ số cho</h1>
<h3><%= forgetEmail %></h3>
<form action="" method="post">
    <div class="mb-3">
        <label for="">Mã xác nhận</label>
    <input type="text" name="verifyCode" class="form-control" required />
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Xác nhận</button>
      </div>
</form>