<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang chủ</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Trang chủ</h1>
      <ul class="d-flex list-unstyled">
        <li class="pe-2">Chào bạn: <%= user.name %></li>
        <li><a href="/dang-xuat">Đăng xuất</a></li>
      </ul>
    </div>
  </body>
</html>
