.wrapper {
    min-width: 380px;
    /* background-color: #748355; */
    padding: 12px 16px;
    border-radius: 6px;
}

p {
    color: white;
    font-size: 16px;
    margin-bottom: 18px;
    text-align: center;
}

span {
    color: #feb6a0;
}

button {
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    /* background-color: blueviolet; */
    background-color: #191a2e;
    color: white;
    font-size: 15px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

button a {
    text-decoration: none;
    color: white;
}