.label {
    color: white;
    font-size: 16px;
    margin-bottom: 12px;
}

span {
    color: #feb6a0;
}

.form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.otp-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    outline: none;
}

.button-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-top: 15px;

}

.button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    /* background-color: blueviolet; */
    color: white;
    cursor: pointer;
    margin-left: 12px;
    min-width: 64px;
    font-size: 16px;
}

.button-submit {
    background-color: blueviolet;
}

.button-back {
    background-color: #191a2e;
    border: 1px solid white;
}