<h1 class="text-center">Xin chào</h1>
<% if(msg?.length) { %>
  <div class="alert alert-secondary text-center"><%= msg %></div>
  <% } %>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Email người nhận</label>
    <input type="email" name="email" class="form-control" placeholder="Email..." required />
  </div>
  <div class="mb-3">
    <label for="">Tiêu đề</label>
    <input type="text" name="title" class="form-control" placeholder="Tiêu đề..." required />
  </div>
  <div class="mb-3">
    <label for="">Nội dung</label>
    <input type="text" name="content" class="form-control" placeholder="Nội dung..." required />
  </div>
  <div class="d-grid mb-3">
    <button type="submit" class="btn btn-primary">Gửi email</button>
  </div>
</form>
<div class="d-grid">
    <a href="./history" class="btn btn-info">Xem lịch sử Email</a>
  </div>